* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #000;
	font-family: 'Josefin Sans', sans-serif;
	color: #fdd4d4;
}

.main {
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background-image: url(images/stars.jpg);
	/*Photo by Greg Rakozy on Unsplash*/
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

.main__nav-container {
	display: flex;
	position: fixed;
	width: 100%;
	top: 0px;
	background-image: linear-gradient(black 60%, transparent);
	justify-content: space-between;
	align-items: flex-start;
	z-index: 2;
}

.main__nav-logo {
	font-size: 4vw;
	font-weight: normal;
	padding-left: 40px;
	margin: 10px;
}

.main__nav-menu {
	display: flex;
	list-style: none;
	font-size: 2vw;
	margin-right: 10px;
	transition: 0.5s;
	transition-property: opacity, transform;
}

.main__nav-menu-item {
	margin: 0px 20px 0px 20px;
	text-decoration: none;
	color: inherit;
	width: max-content;
	border-bottom: 2px solid transparent;
}

.main__nav-menu-item:hover {
	border-bottom: 2px solid #fdd4d4;
}

.main__nav-mobile-button {
	display: none;
}

.main__stars {
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background-image: url(images/stars.jpg);
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	position: absolute;
	display: flex;
}

.main__stars-item {
	margin: 30px;
	width: 60px;
	height: 60px;
	position: relative;
	animation: fall 4s linear infinite;
}

@keyframes fall {
	0% {
		top: -60px;
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		top: 400px;
		opacity: 0;
	}
}

.main__stars-item2 {
	margin: 30px;
	width: 50px;
	height: 50px;
	position: relative;
	animation: fall2 5s linear infinite;
}

@keyframes fall2 {
	0% {
		top: -70px;
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		top: 400px;
		opacity: 0;
	}
}

.main__stars-item3 {
	margin: 30px;
	width: 30px;
	height: 30px;
	position: relative;
	animation: fall3 6s linear infinite;
}

@keyframes fall3 {
	0% {
		top: -30px;
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		top: 400px;
		opacity: 0;
	}
}

/************USTAWIENIA @media DO MAIN**********/

@media(max-width:991px) {
	.main__nav-container {
		height: 60px;
	}
	.main__nav-logo {
		padding-left: 10px;
	}
	.main__nav-menu {
		position: fixed;
		width: 100vw;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 0;
		background-image: url(images/small.jpg);
		/*Photo by Bartek Garbowicz on Unsplash*/
		background-size: cover;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		pointer-events: none;
		transform: translateY(-50%)
	}
	.main__nav-menu--open {
		opacity: 1;
		pointer-events: unset;
		transform: unset;
	}
	.main__nav-menu-item {
		margin: 30px 20px 0px 20px;
		border-bottom: 2px solid transparent;
		text-transform: uppercase;
		font-size: 20px;
	}
	.main__nav-mobile-button {
		display: unset;
		background: none;
		border: none;
		margin: 5px 20px;
		cursor: pointer;
	}
	.main__nav-mobile-button-image {
		display: block;
		width: 25px;
	}
}

.solar-system {
	width: 100%;
	min-height: 100vh;
	margin: 20px 0px;
	text-align: justify;
	padding-top: 2vw;
}

.solar-system__header {
	text-align: center;
	margin: 20vh auto 50px;
	font-size: 30px;
}

.solar-system__image {
	width: 100%;
	object-fit: cover;
}

.solar-system__about {
	padding: 30px;
}

.solar-system__container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.solar-system__planet {
	width: 400px;
	height: 300px;
	margin: 10px;
	border: 2px solid #fff;
}

.solar-system__planet-opis {
	opacity: 0;
	width: 396px;
	height: 296px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
	transition: 1s opacity;
}

.solar-system__planet-opis:hover {
	opacity: 1;
}

.bonus {
	cursor: pointer;
	opacity: 0.8;
	transition: 1s opacity;
}

.bonus:hover {
	opacity: 1;
}

.solar-system__planet-bonus {
	width: 396px;
	height: 296px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
}

.solar-system__planet-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/************USTAWIENIA @media DO UKŁAD SŁONECZNY**********/

@media(max-width:991px) {
	.solar-system__header {
		margin: 40px auto 20px;
	}
	.solar-system__planet {
		width: 300px;
		height: 200px;
	}
	.solar-system__planet-opis {
		width: 296px;
		height: 196px;
		cursor: pointer;
		font-size: 10px;
	}
	.solar-system__planet-opis:hover {
		opacity: unset;
	}
	.solar-system__planet-bonus {
		width: 296px;
		height: 196px;
	}
	.mobile__opis{
		opacity: 0.85;
	}
}

.gallery {
	width: 100%;
	min-height: max-content;
	
}

.gallery__header {
	text-align: center;
	margin: 150px auto 50px;
	font-size: 30px;
}

.gallery__content {
	overflow: hidden;
}

.gallery__container {
	width: max-content;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
	animation: photo 100s linear infinite;
}

@keyframes photo {
	0% {
		left: 0
	}
	50% {
		left: -200vw
	}
	100% {
		left: 0
	}
}

.gallery__container:hover {
	animation-play-state: paused;
}

.gallery__item {
	width: 400px;
	height: 300px;
	margin: 5px;
	z-index: 100;
	object-fit: cover;
}

/************USTAWIENIA @media DO GALERIA**********/

@media(max-width:991px) {
	.gallery__header {
		margin: 40px auto;
	}
	.gallery__container {
		animation: photo 50s linear infinite;
	}
	.gallery__item {
		width: 300px;
		height: 200px;
	}
}

.quiz {
	width: 100%;
	margin: 60px 0px;
	padding-top: 2vw;
}

.quiz__header {
	text-align: center;
	margin: 20vh auto 50px;
	font-size: 30px;
}

.button {
	padding: 20px 60px;
	background-color: #fdd4d4;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #fdd4d4;
	border-radius: 5px;
	cursor: pointer;
	
}
.quiz__button{
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 40px;
	border: 2px solid #fdd4d4;
}
.button:hover {
	border: 1px solid #fdd4d4;
	background-image: url("images/small.jpg");
	color: #fdd4d4;
}

.quiz__container {
	background-image: url("images/small.jpg");
	border-radius: 10px;
	padding: 0px 15px;
	width: 300px;
	height: 200px;
	margin: 40px auto;
	border: 2px solid #fdd4d4;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@keyframes resize{
	100%{width:80%;height:500px;}
}
.quiz__questions {
	width: 100%;
	font-size: 30px;
	color: #fdd4d4;
	display: flex;
	flex-direction: column;
	opacity: 0;
}

.quiz__question {
	width: 100%;
	padding: 35px 5px 5px 20px;
	margin:2px;
	
}
@keyframes visibility{
	0%{opacity:0;}
	100%{opacity:1;}
}

.pojawianie {
	animation: visibility 3s forwards;
}
.pojawianie_pierwsze {
	animation: visibility 3s 2s forwards;
}

.quiz__item {
	display: block;
	position: relative;
	padding: 20px 0 20px 55px;
	background-color: #000000;
	margin: 5px 5px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 32px;
	border: 1px solid transparent;
	border-radius:5px;
}
.quiz__item:hover{
	border: 1px solid #fdd4d4;
}
/* Ukrycie domyślnego znaku inputa radio */

.quiz__item input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* alternatywny znaczek inputa radio */

.checkmark {
	position: absolute;
	top: 22px;
	left: 15px;
	height: 25px;
	width: 25px;
	background-image: url(images/radio.png);
	background-size: 100%;
}

/* Background inputa po najechaniu myszką */

.quiz__item:hover input~.checkmark {
	background-image: url(images/radio-hover.png);
}

/* Background kiedy input jest zaznaczony */

.quiz__item input:checked~.checkmark {
	background-image: url(images/radio-checked.png);
}

.disabled {
	pointer-events: none;
}

.massage {
	width: 50%;
	min-height: 70px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

.again {
	width: 50%;
	margin: 20px auto;
}

.check {
	margin: 20px auto;
}

.good {
	background-color: #0e910e;
	animation: show 1s;
	border-radius: 5px;
	padding: 10px;
	margin:3px;
}

.null {
	background-color: #2e31db;
	border-radius: 5px;
	padding: 10px;
	animation: show 1s;
	margin:3px;
}

.bad {
	background-color: #f11919;
	border-radius: 5px;
	padding: 10px;
	animation: show 1s;
	margin:3px;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.koniec {
	align-self: center;
	justify-self: center;
}

/************USTAWIENIA @media DO QUIZ**********/

@media(max-width:991px) {
	.quiz {
		width: 100%;
		height: max-content;
	}
	.quiz__header{
		margin: 0;
		padding-bottom: 10px;
	}
	.button {
		font-weight: normal;
	}
	.quiz__container {
		width: 80%;
		
		
	}
	.quiz__mobile{
		height: max-content !important;
		
	}
	.quiz__questions {
		font-size: 20px;
		padding: 20px;
		max-height: max-content;
	}
	.quiz__question {
		padding: 0;
		margin: 5px 0;
		margin-left: unset;
	}
	.quiz__item{
		margin: 5px 0;
	}
	.massage {
		width: 95%;
		font-size: 20px;
	}
	.again{
		width: 100%;
	}
}

.footer {
	width: 100%;
	padding: 5px 0px;
	color: #000;
	background-color: #fdd4d4;
	font-size: 0.6vw;
	bottom: 0px;
	align-self: center;
	text-align: center;
}

/************USTAWIENIA @media DO QUIZ**********/

@media(max-width:991px) {
	.footer {
		font-size: 10px;
	}
}